/*
 * Keyboard
 */

.keyboard {
	background-color: #d3d3d3;
	width: 638px;
	padding: 5px;

	display: inline-block;
	text-align: left;
}
.keyboard-row {
	clear: left;
}
.key {
	background-color: white;
	color: black;
	border-radius: 2px;

	position: relative;
	display: block;
	float: left;
	width: 6.37%;		/* width+margin=(1/15)*keyboard-width */
	margin: .16%;
}
.key:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.key-contents {
	padding-left: 5px;

	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
.key.valid:hover {
	box-shadow: 0px 0px 5px blue;
	z-index: 10;
	cursor: pointer;
}
.active {
	box-shadow: 0 0 0 1px blue;
}
.letter {
	font-size: 1.2em;
}

/* Special Keys */

.special .key-contents {
	display: flex;
	align-items: center;
}
.backspace { width: 12.71%; }
.backspace:before { padding-top: 50.13%; }
.tab,.pipe-backslash { width: 9.54%; }
.tab:before,.pipe-backslash:before { padding-top: 66.78%; }
.caps-lock { width: 11.14%; }
.caps-lock:before { padding-top: 57.19%; }
.enter { width: 14.63%; }
.enter:before { padding-top: 43.55%; }
.left-shift { width: 14.34%; }
.left-shift:before { padding-top: 44.42%; }
.right-shift { width: 18.12%; }
.right-shift:before { padding-top: 35.16%; }

/* Finger colors */

.pinky{
	background-color: #FBE700;
}
.ring{
	background-color: #00FB00;
}
.middle{
	background-color: #FBAB00;
}
.index{
	background-color: #FF682C;
}

/*
 * Legend
 */

.legend {
	margin-bottom: 10px;
}
.legend-item {
	margin-right: 10px;

	display: inline-flex;
	align-items: center;
}
.legend-block {
	width: 20px;
	height: 20px;

	display: inline-block;
	margin-right: 5px;	
}

/*
 * Menu
 */

 .real-menu {
 	display: none;
 }
 .menu-save-clear {
 	margin-top: 20px;
 }
 .menu-button-group {
 	display: inline-block;
 }
 .menu-button {
 	width: 150px;
 }