<div class="legend">
	<span class="legend-item">
		<span class="legend-block pinky"></span>
		<span class="legend-label">Pinky</span>
	</span>
	<span class="legend-item">
		<span class="legend-block ring"></span>
		<span class="legend-label">Ring Finger</span>
	</span>
	<span class="legend-item">
		<span class="legend-block middle"></span>
		<span class="legend-label">Middle Finger</span>
	</span>
	<span class="legend-item">
		<span class="legend-block index"></span>
		<span class="legend-label">Index Finger</span>
	</span>
</div>
<div class="keyboard">
	<div class="keyboard-row">
		<mpg-key finger="Lpinky" class="key valid dual pinky">~<br />`</mpg-key>
		<mpg-key finger="Lpinky" class="key valid dual pinky">!<br />1</mpg-key>
		<mpg-key finger="Lring" class="key valid dual ring">@<br />2</mpg-key>
		<mpg-key finger="Lmiddle" class="key valid dual middle">#<br />3</mpg-key>
		<mpg-key finger="Lindex" class="key valid dual index">$<br />4</mpg-key>
		<mpg-key finger="Lindex" class="key valid dual index">%<br />5</mpg-key>
		<mpg-key finger="Rindex" class="key valid dual index">^<br />6</mpg-key>
		<mpg-key finger="Rindex" class="key valid dual index">&<br />7</mpg-key>
		<mpg-key finger="Rmiddle" class="key valid dual middle">*<br />8</mpg-key>
		<mpg-key finger="Rring" class="key valid dual ring">(<br />9</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">)<br />0</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">_<br />-</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">+<br />=</mpg-key>
		<div class="key special backspace">Backspace</div>
	</div>
	<div class="keyboard-row">
		<div class="key special tab">Tab</div>
		<mpg-key finger="Lpinky" class="key valid letter pinky">Q</mpg-key>
		<mpg-key finger="Lring" class="key valid letter ring">W</mpg-key>
		<mpg-key finger="Lmiddle" class="key valid letter middle">E</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">R</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">T</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">Y</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">U</mpg-key>
		<mpg-key finger="Rmiddle" class="key valid letter middle">I</mpg-key>
		<mpg-key finger="Rring" class="key valid letter ring">O</mpg-key>
		<mpg-key finger="Rpinky" class="key valid letter pinky">P</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">{<br />[</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">}<br />]</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pipe-backslash pinky">|<br />\</mpg-key>
	</div>
	<div class="keyboard-row">
		<div class="key special caps-lock">Caps Lock</div>
		<mpg-key finger="Lpinky" class="key valid letter pinky">A</mpg-key>
		<mpg-key finger="Lring" class="key valid letter ring">S</mpg-key>
		<mpg-key finger="Lmiddle" class="key valid letter middle">D</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">F</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">G</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">H</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">J</mpg-key>
		<mpg-key finger="Rmiddle" class="key valid letter middle">K</mpg-key>
		<mpg-key finger="Rring" class="key valid letter ring">L</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">:<br />;</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">'<br />"</mpg-key>
		<div class="key special enter">Enter</div>
	</div>
	<div class="keyboard-row">
		<div class="key special left-shift">Shift</div>
		<mpg-key finger="Lpinky" class="key valid letter pinky">Z</mpg-key>
		<mpg-key finger="Lring" class="key valid letter ring">X</mpg-key>
		<mpg-key finger="Lmiddle" class="key valid letter middle">C</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">V</mpg-key>
		<mpg-key finger="Lindex" class="key valid letter index">B</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">N</mpg-key>
		<mpg-key finger="Rindex" class="key valid letter index">M</mpg-key>
		<mpg-key finger="Rmiddle" class="key valid dual middle">&lt;<br />,</mpg-key>
		<mpg-key finger="Rring" class="key valid dual ring">&gt;<br />.</mpg-key>
		<mpg-key finger="Rpinky" class="key valid dual pinky">?<br />/</mpg-key>
		<div class="key special right-shift">Shift</div>
	</div>
</div>
<div class="menu">
	<div class="init-menu">
		Click on a key to change what finger to use
	</div>
	<div class="real-menu">
		<div class="menu-label">
			Change finger for {{ kbc.currentKey.text() }}
		</div>
		<div class="menu-customize">
			<div class="menu-button-group">
				<button class="menu-button" ng-click="kbc.updateFingerMap('Lpinky')">Left Pinky</button><br />
				<button class="menu-button" ng-click="kbc.updateFingerMap('Rpinky')">Right Pinky</button>
			</div class="menu-button-group">
			<div class="menu-button-group">
				<button class="menu-button" ng-click="kbc.updateFingerMap('Lring')">Left Ring Finger</button><br />
				<button class="menu-button" ng-click="kbc.updateFingerMap('Rring')">Right Ring Finger</button>
			</div class="menu-button-group">
			<div class="menu-button-group">
				<button class="menu-button" ng-click="kbc.updateFingerMap('Lmiddle')">Left Middle Finger</button><br />
				<button class="menu-button" ng-click="kbc.updateFingerMap('Rmiddle')">Right Middle Finger</button>
			</div class="menu-button-group">	
			<div class="menu-button-group">
				<button class="menu-button" ng-click="kbc.updateFingerMap('Lindex')">Left Index Finger</button><br />
				<button class="menu-button" ng-click="kbc.updateFingerMap('Rindex')">Right Index Finger</button>
			</div class="menu-button-group">
		</div>
		<div class="menu-save-clear">
			<button class="menu-button" ng-click="save({fingerMap:kbc.fingerMap})">Save Changes</button>
			<button class="menu-button">Clear Changes</button>
		</div>
	</div>
</div>