<div class="keyboard">
	<div class="keyboard-row">
		<div class="key valid dual pinky">~<br />`</div>
		<div class="key valid dual pinky">!<br />1</div>
		<div class="key valid dual ring">@<br />2</div>
		<div class="key valid dual middle">#<br />3</div>
		<div class="key valid dual index">$<br />4</div>
		<div class="key valid dual index">%<br />5</div>
		<div class="key valid dual index">^<br />6</div>
		<div class="key valid dual index">&<br />7</div>
		<div class="key valid dual middle">*<br />8</div>
		<div class="key valid dual ring">(<br />9</div>
		<div class="key valid dual pinky">)<br />0</div>
		<div class="key valid dual pinky">_<br />-</div>
		<div class="key valid dual pinky">+<br />=</div>
		<div class="key special backspace">Backspace</div>
	</div>
	<div class="keyboard-row">
		<div class="key special tab">Tab</div>
		<div class="key valid letter pinky">Q</div>
		<div class="key valid letter ring">W</div>
		<div class="key valid letter middle">E</div>
		<div class="key valid letter index">R</div>
		<div class="key valid letter index">T</div>
		<div class="key valid letter index">Y</div>
		<div class="key valid letter index">U</div>
		<div class="key valid letter middle">I</div>
		<div class="key valid letter ring">O</div>
		<div class="key valid letter pinky">P</div>
		<div class="key valid dual pinky">{<br />[</div>
		<div class="key valid dual pinky">}<br />]</div>
		<div class="key valid dual pipe-backslash pinky">|<br />\</div>
	</div>
	<div class="keyboard-row">
		<div class="key special caps-lock">Caps Lock</div>
		<div class="key valid letter pinky">A</div>
		<div class="key valid letter ring">S</div>
		<div class="key valid letter middle">D</div>
		<div class="key valid letter index">F</div>
		<div class="key valid letter index">G</div>
		<div class="key valid letter index">H</div>
		<div class="key valid letter index">J</div>
		<div class="key valid letter middle">K</div>
		<div class="key valid letter ring">L</div>
		<div class="key valid dual pinky">:<br />;</div>
		<div class="key valid dual pinky">'<br />"</div>
		<div class="key special enter">Enter</div>
	</div>
	<div class="keyboard-row">
		<div class="key special left-shift">Shift</div>
		<div class="key valid letter pinky">Z</div>
		<div class="key valid letter ring">X</div>
		<div class="key valid letter middle">C</div>
		<div class="key valid letter index">V</div>
		<div class="key valid letter index">B</div>
		<div class="key valid letter index">N</div>
		<div class="key valid letter index">M</div>
		<div class="key valid dual middle">&lt;<br />,</div>
		<div class="key valid dual ring">&gt;<br />.</div>
		<div class="key valid dual pinky">?<br />/</div>
		<div class="key special right-shift">Shift</div>
	</div>
</div>