<div class="keyboard-row">
	<div class="key valid dual lpinky">~<br />`</div>
	<div class="key valid dual lpinky">!<br />1</div>
	<div class="key valid dual lring">@<br />2</div>
	<div class="key valid dual lmiddle">#<br />3</div>
	<div class="key valid dual lindex">$<br />4</div>
	<div class="key valid dual lindex">%<br />5</div>
	<div class="key valid dual rindex">^<br />6</div>
	<div class="key valid dual rindex">&<br />7</div>
	<div class="key valid dual rmiddle">*<br />8</div>
	<div class="key valid dual rring">(<br />9</div>
	<div class="key valid dual rpinky">)<br />0</div>
	<div class="key valid dual rpinky">_<br />-</div>
	<div class="key valid dual rpinky">+<br />=</div>
	<div class="key special backspace">Backspace</div>
</div>
<div class="keyboard-row">
	<div class="key special tab">Tab</div>
	<div class="key valid letter lpinky">Q</div>
	<div class="key valid letter lring">W</div>
	<div class="key valid letter lmiddle">E</div>
	<div class="key valid letter lindex">R</div>
	<div class="key valid letter lindex">T</div>
	<div class="key valid letter rindex">Y</div>
	<div class="key valid letter rindex">U</div>
	<div class="key valid letter rmiddle">I</div>
	<div class="key valid letter rring">O</div>
	<div class="key valid letter rpinky">P</div>
	<div class="key valid dual rpinky">{<br />[</div>
	<div class="key valid dual rpinky">}<br />]</div>
	<div class="key valid dual pipe-backslash rpinky">|<br />\</div>
</div>
<div class="keyboard-row">
	<div class="key special caps-lock">Caps Lock</div>
	<div class="key valid letter lpinky">A</div>
	<div class="key valid letter lring">S</div>
	<div class="key valid letter lmiddle">D</div>
	<div class="key valid letter lindex">F</div>
	<div class="key valid letter lindex">G</div>
	<div class="key valid letter rindex">H</div>
	<div class="key valid letter rindex">J</div>
	<div class="key valid letter rmiddle">K</div>
	<div class="key valid letter rring">L</div>
	<div class="key valid dual rpinky">:<br />;</div>
	<div class="key valid dual rpinky">'<br />"</div>
	<div class="key special enter">Enter</div>
</div>
<div class="keyboard-row">
	<div class="key special left-shift">Shift</div>
	<div class="key valid letter lpinky">Z</div>
	<div class="key valid letter lring">X</div>
	<div class="key valid letter lmiddle">C</div>
	<div class="key valid letter lindex">V</div>
	<div class="key valid letter lindex">B</div>
	<div class="key valid letter rindex">N</div>
	<div class="key valid letter rindex">M</div>
	<div class="key valid dual rmiddle">&lt;<br />,</div>
	<div class="key valid dual rring">&gt;<br />.</div>
	<div class="key valid dual rpinky">?<br />/</div>
	<div class="key special right-shift">Shift</div>
</div>